@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sigmar', cursive;
}
body{
    background-image: url(/assets/IMG/bolhas4.jpg);
}
.content-center{
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
.content-center img{
    width: 70%;
    border-radius: 5px;
}
.content-center form{
    margin: 20px;
}
.content-center input, .content-center button{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}
.content-center input{
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#btn-submit{
    border-radius: 25px;
}
.content-center input:focus{
    border-bottom-color: #000000;
    color: 	#390011;
}
.content-center button:hover{
    background-color: #808080;
    cursor: pointer;
}
.content-center button:active{
    background-color: #2884b2;
}
header a{
    color: #e40a0a;
    text-decoration: none;
}
header a:visited{
    color: #000;
}
header a:hover{
    text-decoration: underline;
}
header a:focus{
    color: red;
}
header a:active{
    color: #2884b2;
}
header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}
footer{
    margin-top: 1.5em;
    font-size: 0.8em;
    text-align: center;
}
#text-center{
    text-align: center;
    margin-top: 82px;
}